<?xml version='1.0' encoding='utf-8'?>
<widget id="de.mpg.gridsearch" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GridSearch</name>
    <description>
        GridSearch app.
    </description>
    <author email="isearch@mpib-berlin.mpg.de" href="http://isearch.mpib-berlin.mpg.de">
        iSearch
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
